$bootstrap-sass-asset-helper: false !default;

// Variables
// Colors

$title: #031e44;
$body-color :#536479;
// $base: #ff725d;
$base: #338af3;
// $primary-color: #30336b;
$success-color: #28c76f;
$secondary-color: #868e96;
$danger-color: #ea5455;
$warning-color: #f99f0b;
$info-color: #1e9ff2;
$primary-color: #8a08e0;
// $primary-color: #0c2461;
$border-color: #e8eaff;
// $grey-color: #696969;
$ash-color: #fafafa;
$white: #fff;
$lallu-color : #e883ae;
$dark-color: #192a56;
$body-bg: #ffffff;
$section-bg: #f7fbff;
$dark-bg: #131b32;
$light-color: #b4d4ff;
$black: #000;

$section-bg-2: #fafafa;





// social-media icons color
$whatsapp: #25d366;
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$pinterest: #007bb5;
$skype: #2fb7df;
$youtube: #cd201f;
$google: #dd4b39;
$camera: #e4405f;
$instagram: #e4405f;
$tumblr: #34465d;
$behance: #1769ff;
$star: #e9ba17;
$green: #0be881;
$green-h: #0fbcf9;
$red: #f53b57;
$yellow: #dec32b;
$nell: #212fb4;
$navy: #d8e0f3;
$placeholder: #a1a1a2;
$name-dec: #3f485d;
$futbol : #db3776;
$vimeo : #1ab7ea;
$dribble : #ea4c89;
//== Typography

// font-family
$Heading: 'Jost', sans-serif;
$heading: 'Jost', sans-serif;
$Body: 'Inter', sans-serif;
$body: 'Inter', sans-serif;

// font-size
$fs-base: 16px;
$fs-large: 18px; 
$fs-small: 14px;
$fs-h1: 48px;
$fs-h2: 36px;
$fs-h3: 28px;
$fs-h4: 24px;
$fs-h5: 22px;
$fs-h6: 20px;

$fs-sm-h1: 80px;
$fs-sm-h2: 70px;
$fs-sm-h3: 36px;
$fs-sm-h4: 30px;
$fs-sm-h5: 24px;
$fs-sm-h6: 22px;

 //Description line height
 $lh-p: 28px; //28px;

 //  transition
$transition: all ease 0.3s;
